{% extends "base.html" %}

{% block body %}
<h1><a href="/entry/{{ entry.slug }}">{{ entry.title }}</a></h1>

<div class="date">{{ locale.format_date(entry.published, full_format=True, shorter=True) }}</div>

  <img src="/static/uploads/{{ entry.slug }}.jpg" width = "120" height = "90">

<div class="body" style="font-size:30px">{% raw entry.html %}</div>
comments:<br>
{%if entry.comments %}
<div id="xx"> {{entry.comments}}
  <p id="demo"></p>
</div>
{%end%}
<form action="/entry/{{ entry.slug }}" method="get">
  <p>This post has {{up}} upvotes and {{down}} downvotes</p>
  {# {% if votes %} #}
  <p>You {{ votes }} this</p>
  {# {% end %} #}
  <button name="vote" type="submit" value="like">Like</button>
  <button name="vote" type="submit" value="dislike">Dislike</button><br>
 	     Comment:<input name="comment" type="text">
   {% module xsrf_form_html() %}
   <input type="submit">
   </form>
   <script>
    var mytext = document.getElementById("xx").innerHTML;
    console.log(mytext);
    var text="";
    var res=mytext.split('~');
    var arrayLength = res.length;
    for (var i = 0; i < arrayLength/2; i++) {
      text +=res[i+1]+" : " + res[i] +"<br>";
      i++;
    }
    document.getElementById("xx").innerHTML =text;
   </script>

{% end %}
