{% extends "base.html" %}

{% block body %}
<div style="display:flex">Welcome to BLOG! <h2 style="margin-left:10px">{{auth_name}}</h2> </div>
  <br>
  <h2>This is your Profile</h2>
  <p>Posts created by you are:</p>
  <ul class="archive">
    {% for entry in entries %}
    <div class="body" style="border: 2px solid black;margin:4px;border-radius:15px">
    {% module Entry(entry) %}
    {% if current_user %}
      <div class="admin" style=" margin:10px" ><a style="text-decoration: none;" href="/compose?id={{ entry.id }}">{{ _("Edit this post") }}</a></div>
    {% end %}
    </div>
    {%end%}
  </ul>
  {% end %}
